body{
    background-color: rgb(117, 204, 117);
}
.mez{
    display: block;
    margin: 3px auto;
}
.mezok input.mez{
    width: 370px;
    height: 20px;
    border: 2px solid purple;
}
fieldset{
    background-color: bisque;
    border: 3px solid brown;
    border-radius: 11px;
    margin: 15px;
}
fieldset.mezok{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    padding: 40px;
}
fieldset.kedv{
    background-color: burlywood;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 30px;
}
fieldset.kedv div{
    margin: 2px auto;
}
legend, .sub{
    background-color: black;
    color: white;
    padding: 7px;
    border-radius: 7px;
}
legend.kedve{
    background-color: white;
    color: black;
}
.sub{
    display: block;
    float: right;
    margin: 4px;
}
fieldset.kedv label{
    color: green;
}
fieldset.mezok label{
    color: rgb(255, 143, 6);
}

@media screen and (max-width: 600px) {
    fieldset.kedv{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin: 30px;
    }

    .mezok input.mez{
        min-width: 30px;
        width: 75%;
        height: 20px;
    }
}